---
import  Layout from '../layouts/Layout.astro';
---
 
<Layout 
 title="about us">
  <h1>Sobre Nosotros</h1>
  <p>Bienvenido a nuestra tienda de café. Aquí encontrarás la mejor selección de cafés del mundo.</p>
  <a href="/">Volver a Inicio</a>